@charset "utf-8";

// ----------------------------------------------------------首页
.index_content {
	position: relative;
	z-index: 1;

	&::after {
		content: '';
		width: 120%;
		height: 72.0513vw;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		border-bottom-left-radius: 50%;
		border-bottom-right-radius: 50%;
		background-image: linear-gradient(to bottom right, #27d5ff 0%, #0091ff 95%, #0091ff 100%);
		z-index: -1;
	}
}
.index_search {
	box-sizing: border-box;
	padding: 3.5897vw 3.8462vw;
	position: sticky;
	top: 0;
}
// 定位点与时间
.position_time {
	width: 100%;
	box-sizing: border-box;
	padding: 0 3.8462vw 0 5.1282vw;
	font-size: 4.6154vw;
	color: #ffffff;
	font-weight: bold;
	display: flex;
	align-items: center;
	.line {
		width: 0.5128vw;
		height: 3.8462vw;
		background-color: #ffffff;
		margin: 0 2.5641vw;
	}
	.dingwei {
		font-size: 6.4103vw;
		font-weight: normal;
		margin-left: 2.5641vw;
		color: #ffffff;
	}
}
// 天气
.weather {
	width: 100%;
	height: 17.4359vw;
	margin-top: 5.1282vw;
	box-sizing: border-box;
	padding: 0 3.8462vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	> .pic_img {
		width: 14.8718vw;
		display: flex;
		align-items: center;
		justify-content: center;
		.img {
			width: 100%;
			height: 17.4359vw;
		}
	}
	> .text_list {
		line-height: 5.1282vw;
		font-size: 3.5897vw;
		color: #ffffff;
		&:last-child {
			border-left: 0.2564vw solid #ffffff;
			box-sizing: border-box;
			padding-left: 5.1282vw;
		}
		> div {
			margin-top: 1.2821vw;
			&:nth-child(1) {
				margin-top: 0;
			}
		}
		.quality {
			display: flex;
			> .mark {
				padding: 0 1.2821vw;
				height: 5.1282vw;
				min-width: 7.6923vw;
				background-color: #f5a623;
				font-size: 3.0769vw;
				color: #ffffff;
				border-radius: 1.2821vw;
				text-align: center;
			}
		}
	}
}
// 内容块
.cnt_chunk {
	width: 100%;
	box-sizing: border-box;
	padding: 0 3.8462vw;
	> .pic_card {
		margin-top: 3.8462vw;
	}
	.index_textNum {
		display: flex;
		align-items: center;
		justify-content: space-around;
		box-sizing: border-box;
		padding: 5.1282vw 0;
		background-color: rgba(255, 255, 255, 0.95);
		> .list {
			display: inline-block;
			text-align: center;
			color: #0091ff;
			.text {
				font-size: 4.1026vw;
			}
			.num {
				font-size: 6.6667vw;
				font-weight: bold;
				text-shadow: 0vw 0.7692vw 1.5385vw rgba(39, 213, 255, 0.6);
				line-height: 7.6923vw;
			}
			&:last-child {
				color: #fb9451;
				.num {
					text-shadow: 0vw 0.7692vw 1.5385vw rgba(251, 148, 81, 0.6);
				}
			}
		}
	}
}
.iconFlex_card {
	> .list {
		width: 25%;
		&:nth-child(-n + 4) {
			margin-top: 0;
		}
	}
}
.aiticle_text_img {
	width: 100%;
	box-sizing: border-box;
	padding: 3.8462vw 0;
	.text_img_lists {
		box-sizing: border-box;
		.text_oneImg {
			box-sizing: border-box;
			padding: 0 3.8462vw;
		}
		.imgs_top {
			width: 100%;
			height: 46.1538vw;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;
			> .one_big_img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		> .list {
			display: block;
			margin-top: 5.1282vw;
			&:first-child {
				margin-top: 0;
			}
		}
		.view_oneImg {
			width: 30.7692vw;
			height: 20.5128vw;
			border-radius: 1.2821vw;
			> .img {
				width: 30.7692vw;
				height: 20.5128vw;
				border-radius: 1.2821vw;
			}
		}
	}
	.brand_img_lists {
		box-sizing: border-box;
		padding: 0 3.8462vw;
		> .list {
			display: flex;
			display: flex;
			justify-content: space-between;
			margin-top: 7.6923vw;
			$divW: 40.5128vw;
			&:nth-child(1) {
				margin-top: 0;
			}
			.brand_story {
				display: block;
				width: $divW;
				height: 53.8462vw;
				border-radius: 1.2821vw;
				position: relative;
				overflow: hidden;
				display: flex;
				align-items: center;
				justify-content: center;
				> .img {
					width: 100%;
					height: 100%;
					border-radius: 1.2821vw;
				}
				.position {
					position: absolute;
					bottom: 2.5641vw;
					left: 50%;
					transform: translateX(-50%);
					width: 37.1795vw;
					min-height: 16.4103vw;
					background-color: rgba(0, 0, 0, 0.5);
					border-radius: 1.2821vw;
					box-sizing: border-box;
					padding: 2.5641vw 2.5641vw;
					> .title {
						font-size: 3.5897vw;
						font-weight: bold;
						color: #ffffff;
						line-height: 5.1282vw;
						@include overell;
					}
					> .tips {
						border: 0.2564vw solid #f5a623;
						border-radius: 1.2821vw;
						display: inline-block;
						color: #f5a623;
						font-size: 3.0769vw;
						height: 5.641vw;
						line-height: 5.1282vw;
						box-sizing: border-box;
						padding: 0 1.5385vw;
						margin-top: 2.5641vw;
					}
				}
			}
			.brand_look {
				width: $divW;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.link_look {
					display: flex;
					align-items: center;
					box-sizing: border-box;
					padding: 2.5641vw;
					background-color: #ffffff;
					box-shadow: 0vw 0.7692vw 0.7692vw rgba(0, 0, 0, 0.08);
					border-radius: 1.2821vw;
					.view_oneImg {
						width: 16.4103vw;
						height: 20.5128vw;
						margin-right: 2.5641vw;
						overflow: hidden;
						display: flex;
						align-items: center;
						justify-content: center;
						.img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							border-radius: 1.2821vw;
						}
					}
					.view_text {
						flex: 1;
						width: 0;
						.view_title {
							font-size: 3.5897vw;
							color: #282828;
							line-height: 5.641vw;
							overflow: hidden;
							text-overflow: ellipsis;
							display: -webkit-box;
							-webkit-line-clamp: 2;
							/* autoprefixer: off */
							-webkit-box-orient: vertical;
							/* autoprefixer: on */
						}
						.view_tips {
							font-size: 3.0769vw;
							color: #f5a623;
							margin-top: 2.5641vw;
							display: flex;
							align-items: center;
						}
					}
				}
			}
			> .list_child {
				&:nth-child(odd) {
					.link_look {
						&:nth-child(1) {
							background-image: linear-gradient(#f6f4ff, #ebfdfe);
						}
					}
				}
				&:nth-child(even) {
					.link_look {
						&:nth-child(1) {
							background-image: linear-gradient(#fffef4, #fef2eb);
						}
					}
				}
			}
		}
	}
	.features_lists {
		box-sizing: border-box;
		padding: 0 3.8462vw;
		> .list {
			display: flex;
			align-items: center;
			margin-top: 3.8462vw;
			.sort_icon {
				width: 11.5385vw;
				height: 11.5385vw;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				color: #ffffff;
				margin-right: 5.1282vw;
				> text:nth-child(1) {
					font-size: 4.1026vw;
					font-weight: bold;
					line-height: 5.1282vw;
				}
				> text:nth-child(2) {
					font-size: 2.5641vw;
					line-height: 3.8462vw;
				}
			}
			.item_top {
				flex: 1;
				font-size: 3.0769vw;
				color: #4a4a4a;
				line-height: 5.1282vw;
				> .title {
					font-size: 3.5897vw;
					color: #282828;
				}
				>.text{
					&:nth-child(1){
						box-sizing: border-box;
						margin-left: 2.5641vw;
					}
				}
			}
			&:nth-child(1) {
				margin-top: 0;
				.sort_icon {
					background-image: linear-gradient(#ff92a0, #d0021b);
					box-shadow: 0 0.7692vw 1.5385vw rgba(208, 2, 270, 0.3);
				}
			}
			&:nth-child(2) {
				.sort_icon {
					background-image: linear-gradient(#c1a5ff, #6a29d5);
					box-shadow: 0 0.7692vw 1.5385vw rgba(113, 51, 217, 0.3);
				}
			}
			&:nth-child(3) {
				.sort_icon {
					background-image: linear-gradient(#f9ea0b, #fb9451);
					box-shadow: 0 0.7692vw 1.5385vw rgba(251, 86, 10, 0.3);
				}
			}
		}
	}
	.financial_services {
		box-sizing: border-box;
		padding: 0 3.8462vw;
		display: flex;
		justify-content: space-between;
		> .list {
			border-radius: 1.2821vw;
			position: relative;
			width: 26.9231vw;
			height: 24.359vw;
			display: block;
			.radius {
				position: absolute;
				top: 0;
				right: 0;
				background-color: #fee6be;
				width: 16.9231vw;
				height: 17.9487vw;
				z-index: 1;
				border-top-right-radius: 1.2821vw;
				border-bottom-left-radius: 12.8205vw;
			}
			&:nth-child(1) {
				background-color: #ffeccc;
				.radius {
					background-color: #fee6be;
				}
			}
			&:nth-child(2) {
				background-color: #e6eafd;
				.radius {
					background-color: #dfe5fe;
				}
			}
			&:nth-child(3) {
				background-color: #ffe7e0;
				.radius {
					background-color: #fdddd4;
				}
			}
			> .cnt {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 2;
				box-sizing: border-box;
				padding: 1.2821vw 2.5641vw;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.text_top {
					color: #c28c20;
					font-size: 3.0769vw;
					.icon_text {
						font-weight: bold;
						display: flex;
						align-items: center;
						line-height: 5.641vw;
						.iconfont {
							font-weight: normal;
							&:nth-child(1) {
								margin-right: 1.2821vw;
							}
							&:nth-child(2) {
								font-size: 2.5641vw;
							}
						}
					}
					> .title {
						font-size: 2.5641vw;
						color: #c28c20;
						line-height: 4.6154vw;
					}
				}
				.text_bottom {
					> .num {
						font-size: 3.0769vw;
						color: #d0021b;
						line-height: 4.6154vw;
					}
					> .text {
						font-size: 2.5641vw;
						color: #4a4a4a;
						line-height: 4.6154vw;
					}
				}
			}
		}
	}
}
